<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout/layout"
>
  <head>
    <meta charset="UTF-8" />
    <title>Posts</title>

    <!--    FIXME BAD PRACTISE DO NOT DO THIS-->
    <style>
      .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    </style>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="row g-3">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="mb-0">
            Posts
            <span
              class="badge text-bg-secondary"
              th:text="${posts.size()}"
            ></span>
          </h3>
          <a class="btn btn-outline-success" href="/posts/create"
            >Create post</a
          >
        </div>
        <div th:if="${posts.isEmpty()}">
          <div class="flex-column text-center">
            <h3 class="text-center">No forum posts found!</h3>
            <a class="btn btn-lg btn-primary" href="/posts/create"
              >Create post</a
            >
          </div>
        </div>
        <div
          class="col-lg-4 col-md-6 col-sm-12"
          th:each="post: ${posts}"
          th:unless="${posts.isEmpty()}"
        >
          <div class="card h-100 shadow-sm">
            <div class="position-relative">
              <small
                th:if="${post.creationDate.toLocalDate() == post.creationDate.now().toLocalDate()}"
                class="px-2 py-1 m-2 end-0 fw-semibold text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 position-absolute"
              >
                NEW
              </small>
              <img
                th:src="${post.backgroundImage}"
                class="card-img-top"
                alt="Card Image"
              />
            </div>

            <div class="card-body d-flex flex-column justify-content-between">
              <div class="mb-3">
                        <h5 class="card-title" th:text="${post.name}"
                            th:href="${post.name}"></h5>
                        <p class="card-text" th:text="${post.description}"></p>
                    </div>

              <div class="d-flex align-items-center">
                <img
                  th:src="${post.author.profilePicture}"
                  class="avatar me-2"
                />
                <div class="flex-column d-flex">
                  <strong th:text="${post.author.username}">
                    <span
                      class="badge rounded-pill text-bg-secondary"
                      th:text="${post.author.role}"
                    ></span>
                  </strong>
                  <p class="m-0" th:text="${post.author.email}"></p>
                </div>
              </div>
            </div>

            <div class="card-footer">
              <div class="d-flex justify-content-between align-items-center">
                <form method="post" th:action="@{/posts/delete}">
                  <input
                    type="text"
                    class="d-none"
                    th:name="name"
                    th:value="${post.name}"
                  />
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      Read more 1
                    </button>
                    <a
                      type="button"
                      class="btn btn-sm btn-outline-success"
                      th:href="@{/posts/create/{id}(id = ${post.id})}"
                      >Edit</a
                    >
                    <button type="submit" class="btn btn-sm btn-outline-danger">
                      Remove
                    </button>
                    like dislike 
                  </div>
                </form>
                <small class="text-body-secondary">
                  <span th:text="${#temporals.day(post.creationDate)}"></span>
                  <span
                    th:text="${#temporals.monthNameShort(post.creationDate)}"
                  ></span>
                  <span th:text="${#temporals.year(post.creationDate)}"></span>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
